# Maven
!.mvn/wrapper/maven-wrapper.jar
**/target/
**/src/main/**/target/
**/src/test/**/target/

# IDE
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Logs
logs/
*.log
*.log.*
data/logs/
archat-server/data/logs/
*.log.gz
*.log.zip
*.log.[0-9]*

# Coverage reports
coverage/
*.coverage
.nyc_output/

# Packaging
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Application config
archat-server/src/main/resources/application.yml

# Documentation
archat-server/doc/